@*
    
*@
@{
    ViewData["Title"] = "CPF Inválido"; 
}

<div class="alert alert-danger" role="alert">
  O CPF digitado é inválido, por favor volte e refaça a operação de cadastro!
</div>

<a asp-action="Create" asp-controller="Alunos" class="btn btn-primary">Voltar</a>
