@model EM.Domain.Entidades.Aluno
@using EM.Domain.Services

<!-- Verificar se já existe alguma matricula para poder editar -->
@if (Model == null)
{
    ViewData["Title"] = "Cadastrar Aluno";
    ViewData["ACAO"] = "Create";
}
else
{
    ViewData["Title"] = "Editar Aluno";
    ViewData["ACAO"] = "Edit";
}

<!-- Operações inválidas nos inputs -->
@if (TempData["InvalidCPF"] != null)
{
    <div class="alert alert-danger" role="alert" id="alert-cpf-invalido">
        @TempData["InvalidCPF"]
    </div>
}
else if (TempData["NomeInvalido"] != null)
{
    <div class="alert alert-danger" role="alert" id="alert-cpf-invalido">
        @TempData["NomeInvalido"]
    </div>
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action=@ViewData["ACAO"]>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(Model?.Matricula > 0)
            {
                <div class="form-group">
                    <label asp-for="Matricula" class="control-label">Matrícula</label>
                    <input asp-for="Matricula" class="form-control" disabled="" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" placeholder="Nome" autofocus />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" oninput="mascara(this)" />
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input type="date" asp-for="Nascimento" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Sexo:</h6>

                <div class="form-check form-check-inline">
                    <input asp-for="Sexo" type="radio" name="sexo" id="masc" value="Masculino" class="form-check-input" checked />
                    <label class="form-check-label" for="masc">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sexo" type="radio" name="sexo" id="fem" value="Feminino" class="form-check-input" />
                    <label class="form-check-label" for="fem">Feminino</label>
                </div>
            </div>
            <div style="margin-top: 10px;" class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
